// 公共的样式
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-align {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space {
  display: flex;
  justify-content: space-between;
}

.flex-center-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.column-jus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-justify {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

.inline-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

// 页面进入 transition 效果
.fade-enter-active {
  transition: opacity 0.5s;
}

.fade-enter {
  opacity: 0;
}